<section class="container mt-5" id="home">
    <div class="row">
        <div class="col-12 col-md-3">
            <img src="assets/img/encuestas.png" class="img-fluid">
            <h4>Generales</h4>
        </div>
        <div class="col-12 col-md-3">
            <img class="img-fluid" src="assets/img/lenguajes-de-programacion.png" alt="">
            <h4>De programación</h4>
        </div>
        <div class="col-12 col-md-3">
            <img class="img-fluid" src="assets/img/survey-1594962_1920.jpg" alt="">
            <h4>Academicas</h4>
        </div>
        <div class="col-12 col-md-3">
            <img class="img-fluid" src="assets/img/satisfaccion.jpg" alt="">
            <h4>De satisfacción</h4>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6 offset-md-3">
            <a routerLink="dashboard" class="btn btn-primary btn-block">ENTRAR <i class="far fa-play-circle"></i></a>
        </div>
    </div>
</section>